body {
  background-color: rgb(245, 245, 245);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.likes-replies {
  color: rgb(142, 142, 142);
  font-weight: bold;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
}

.likes-count {
  margin: 0;
}

.reply-btn {
  color: rgb(142, 142, 142);
  font-weight: bold;
  margin-top: 2px;
  margin-left: 15px;
}

.view-replies-btn {
  margin: 8px 0;
  color: rgb(142, 142, 142);
  font-weight: bold;
  font-size: 14px;
}

.replies-hidden {
  display: none;
}

.App {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 3px;
}

.landscape {
  min-width: 300px;
  display: flex;
  flex-direction: row;
}

.vertical {
  max-width: 600px;
  min-width: 150px;
}

.landscape-right {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.btn {
  border: 0;
  outline: none;
  padding: 0;
  cursor: pointer;
  background-color: white;
}

#Header {
  position: relative;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.Avatar {
  display: flex;
  flex-direction: row;
}

.poster-picture {
  width: 42px;
  height: 42px;
}

.user-picture {
  width: 38px;
  height: 38px;
}

#profile-info {
  padding-left: 10px;
  margin-right: 5px;
}

.profile-text {
  margin: 0;
}

.location-text {
  font-size: 14px;
  margin-left: 0;
}

.icon {
  margin: auto 0;
}

#post-image-wrap {
  flex: 1;
  max-width: 600px;
}

#post-image {
  max-width: 100%;
}

#Actions {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgb(224, 224, 224);
}

#left-actions {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-text {
  padding: 0 15px;
  margin: 0;
}

.comments-vertical {
  padding: 0 15px;
}

.comments-landscape {
  flex-grow: 1;
  height: 250px;
  overflow: scroll;
  padding: 8px 15px;
}

.comment-landscape {
  /* padding: 0.5em; */
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-and-reply {
  flex-grow: 1;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.Comment {
  margin: 0;
  padding: 0.1em 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-text {
  margin: 0;
  width: 100%;
  word-break: break-all;
  padding-right: 5px;
}

.like-btn {
  font-size: 15px;
  height: 18px;
}

.like-btn-landscape {
  padding-top: 6px;
}

.liked {
  color: #ed4956;
}

.reply-landscape {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#PostComment {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-top: 1px solid rgb(224, 224, 224);
}

.post-comment-input {
  height: 18px;
  max-height: 50vh;
  flex-grow: 1;
  resize: none;
  font: inherit;
  border: 0;
  outline: none;
}

.post-comment-btn {
  color: #0095f6;
  font-size: inherit;
}

.view-comments-btn {
  color: rgb(142, 142, 142);
  font-size: 16px;
  padding: 0.1em 0;
  text-align: left;
  margin: 2px 0;
}

.hours {
  font-size: 14px;
  font-weight: 300;
  color: rgb(142, 142, 142);
  padding: 6px 15px;
}
